<div class="card">
  <div class="card-header">
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterTextColor"
      placeholder="Renk giriniz.."
    />
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li
        *ngFor="let color of colors | colorPipe: filterText"
        class="list-group-item"
        style="font-size: 16px;"
      >
        <span><b>{{ color.colorName }}</b></span>
        <button type="button" class="btn" style="background-color: #8cb126; float: right;" (click)="goToDetail(color.colorId)"><b>Düzenle</b></button>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <button type="button" class="btn" style="background-color: #8cb126;" (click)="goToAdd()" ><b>Ekle</b></button>
  </div>
</div>