<div class="card">
  <div class="card-header">
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterTextBrand"
      placeholder="Marka giriniz.."
    />
</div>
<div class="card-body">
<ul class="list-group">
  <li
    *ngFor="let brand of brands | brandPipe: filterText"
    class="list-group-item"
    style="font-size: 16px;"
  >
  <span><b>{{ brand.brandName }}</b></span>
    <button type="button" class="btn" style="background-color: #8cb126; float: right;" (click)="goToDetail(brand.brandId)"><b>Düzenle</b></button>
  </li>
</ul>
</div>
<div class="card-footer">
  <button type="button" class="btn" style="background-color: #8cb126;" (click)="goToAdd()"><b>Ekle</b></button>