<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div *ngFor="let image of carImages let i = index" class="carousel-item active" [ngClass]="{'active' :i == 0}">
                    <img  src="https://localhost:443334/carimages/{{image.imageName}}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Id</th>
                            <td>{{currentCar.carId}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Araba</th>
                            <td>{{currentCar.carName}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Marka</th>
                            <td>{{currentCar.carBrandName}}</td>
                          </tr>
                      <tr>
                        <th scope="row">Renk</th>
                        <td>{{currentCar.carColorName}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Model</th>
                        <td>{{currentCar.carModelYear}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Günlük Ücret</th>
                        <td>{{currentCar.carDailyPrice}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Açıklama</th>
                        <td>{{currentCar.carDescription}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>