<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Marka</th>
      <th scope="col">Model</th>
      <th scope="col">Renk</th>
      <th scope="col">Günlük Ücret</th>
      <th scope="col">Açıklama</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars" routerLink="/car-detail/{{car.carId}}">
      <th scope="row">{{car.carId}}</th>
      <td>{{car.carBrandName}}</td>
      <td>{{car.carModelYear}}</td>
      <td>{{car.carColorName}}</td>
      <td>{{car.carDailyPrice}}</td>
      <td>{{car.carDescription}}</td>
    </tr>
  </tbody>
</table>