<div class="card" *ngIf="carDetailDto">
  <div class="card-header" style="height: 41rem;">
    <div class="card-img col-md-12">
      <div
        id="carImageSlide"
        class="carousel slide carousel-fade card-img"
        data-bs-ride="carousel"
      >
        <div
          class="carousel-inner d-flex"
          style="height: 40rem; width: 53, 5rem"
        >
          <div
            *ngFor="let carImage of carDetailDto.carImage; index as i; first as firstImage"
            class="carousel-item align-self-center"
            [ngClass]="{ active: firstImage }"
            style="height: 100%; width: 100%"
          >
            <img
              src="{{ apiUrl }}{{ carImage.imagePath }}"
              class=""
              style="height: 100%; width: 100%"
            />
          </div>

          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carImageSlide"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Geri</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carImageSlide"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">İleri</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body col-md-12">
    <h1 class="card-title">
      <b>{{ carDetailDto.carName }}</b>
    </h1>
    <p class="card-text">{{ carDetailDto.carModelYear }}</p>
    <p class="card-text"><b>Renk:</b> {{ carDetailDto.carColorName }}</p>
    <p class="card-text"><b>Fiyat:</b> {{ carDetailDto.carDailyPrice | number: "1.0-0" }} TL</p>
    <p class="card-text"><b>Açıklama:</b> {{ carDetailDto.carDescription }}</p>
</div>
  <div class="card-footer text-center">
    <button
      type="button"
      class="btn btn-theme"
      style="background-color: #8cb126; float: left"
      (click)="goToCarRental()"
    >
      <b>Kirala</b>
    </button>
    <button
      type="button"
      class="btn btn-theme"
      style="background-color: #8cb126"
      (click)="goToSet()"
    >
      <b>Düzenle</b>
    </button>
    <button
      type="button"
      class="btn btn-theme"
      style="background-color: #8cb126; float: right"
      (click)="goToCars()"
    >
      <b>Geri</b>
    </button>
  </div>
</div>