<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div *ngFor="let image of carImages let i = index" class="carousel-item active"
            [ngClass]="{'active' :i == 0}">
            <img src="https://localhost:44334/{{image.imagePath}}" class="d-block w-100" alt="..." />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="currentCar" class=" row">
    <div class="col-md-5">
      <div class="row">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Marka</th>
              <td>{{currentCar.carBrandName}}</td>
            </tr>
            <tr>
              <th scope="row">Model</th>
              <td>{{currentCar.carModelYear}}</td>
            </tr>
            <tr>
              <th scope="row">Günlük Fiyat</th>
              <td>{{currentCar.carDailyPrice}}</td>
            </tr>
            <tr>
              <th scope="row">Açıklama</th>
              <td>{{currentCar.carDescription}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>